[run]
source =
    interfaz
    piezas
    tablero
    BD
    test_interfaz
    test_piezas
    test_tablero
    test_BD
omit =
    venv/*
    */test*
    */__init__.py
[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite
    __str__
    main()
